body {
  background-color: blueviolet;
}
.image {
  background-image: url("Abiral.jpg");
  position: relative;
  height: 177px;
  width: 150px;
  cursor: pointer;
}

.box {
  display: inline-block;
  height: 178px;
  width: 151px;
  margin: 10px;
  background-color: white;
  border: 2px solid black;
}

.control {
  border: solid #ff0000 5px;
}
.dashed {
  background: rgba(128, 128, 128, 0.219);
  border-style: dashed;
}

.hide {
  display: none;
}
